@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
}

header, body {
    overflow-x: hidden;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.container-fluid {
    width: 100%;
}

.page-title {
    padding: 5rem;
}

.card {
    margin: 2rem;
    padding: 2rem;
}

.card-img-top {
    max-height: 225px;
}

.card-text {
    text-align: left;
}